<script setup lang="ts">
import {
  mdiSchool,
  mdiGenderMaleFemale,
  mdiCakeVariantOutline,
  mdiBabyCarriage,
  mdiCardAccountDetailsOutline,
  mdiInstagram,
  mdiFacebook,
  mdiAlphaLBox,
} from "@mdi/js";
import SchoolPop1 from "@/components/SchoolPop1.vue";
import SchoolPop2 from "@/components/SchoolPop2.vue";
import SchoolPop3 from "@/components/SchoolPop3.vue";
import SchoolPop4 from "@/components/SchoolPop4.vue";
</script>

<template>
  <div class="bg">
    <v-container class="port">
      <v-row>
        <v-col cols="3">
          <v-img
            src="https://media.discordapp.net/attachments/858979361931657236/1053905351738671224/9375910D-0B55-46BC-B617-B81A9F022FBB.jpg?width=497&height=662"
            style="
              width: 200px;
              height: 400px;
              margin-top: -40px;
              margin-left: 8px;
            "
          ></v-img
        ></v-col>
        <v-col cols="5"
          ><h4>Watcharaphon Jencheawchan</h4>
          <br /><br />

          <h5><v-icon :icon="mdiCardAccountDetailsOutline" /> ID : 64160057</h5>
          <h5><v-icon :icon="mdiSchool" /> faculty : Informatics</h5>
          <h5><v-icon :icon="mdiBabyCarriage" /> age : 20</h5>
          <h5><v-icon :icon="mdiGenderMaleFemale" /> gender : Male</h5>
          <h5>
            <v-icon :icon="mdiCakeVariantOutline" /> date of birth : 15/08/2002
          </h5>
        </v-col>
        <v-col cols="4">
          <h5 style="text-align: center; margin-top: 40px">Connections</h5>
          <h5 style="text-align: center; margin-top: 10px">
            <v-btn
              style="width: 150px; background-color: #bc2a8d"
              href="https://www.instagram.com/txnnnnnnnnnnnnnnn/"
              target="_blank"
              ><v-icon :icon="mdiInstagram" />Instagram</v-btn
            >
          </h5>
          <h5 style="text-align: center; margin-top: 10px">
            <v-btn
              style="width: 150px; background-color: #4267b2"
              href="https://www.facebook.com/profile.php?id=100008317159134"
              target="_blank"
              ><v-icon :icon="mdiFacebook" />Facebook</v-btn
            >
          </h5>
          <h5 style="text-align: center; margin-top: 10px">
            <v-btn
              style="width: 150px; background-color: #06c755"
              href="https://linevoom.line.me/user/_dcr6NaV3oZkXdbBd7YApFGnkt2PlgQCbJMUGK6Q?utm_medium=windows&utm_source=desktop&utm_campaign=Profile"
              target="_blank"
              ><v-icon :icon="mdiAlphaLBox" />Line</v-btn
            >
          </h5>
        </v-col>
      </v-row>
      <v-row
        ><v-col aria-colspan="3">
          <h1>EDUCATIONAL</h1>
        </v-col></v-row
      >
      <v-row>
        <v-col aria-colspan="3">
          <v-table>
            <thead>
              <tr>
                <th style="text-align: center">2009-2009</th>
                <th style="text-align: center">2010-2011</th>
                <th style="text-align: center">2012-2014</th>
                <th style="text-align: center">2015-2020</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><SchoolPop1></SchoolPop1></td>
                <td><SchoolPop2></SchoolPop2></td>
                <td><SchoolPop3></SchoolPop3></td>
                <td><SchoolPop4></SchoolPop4></td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col aria-colspan="3">
          <div>
            <h2>My hobby</h2>
            <table style="width: 100%; margin-top: 50px">
              <tr>
                <td>
                  <v-avatar
                    color="#FF3333"
                    size="x-large"
                    style="margin-top: 20px"
                  >
                    1
                  </v-avatar>
                </td>
                <td><h3 style="color: #ff3333">play basketball</h3></td>
                <td>
                  <img
                    style="width: 250px; height: 150px"
                    src="https://www.mindphp.com/images/articles/201911/article-meaning/Basketball.png"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <v-avatar
                    color="#00FF00"
                    size="x-large"
                    style="margin-top: 20px"
                  >
                    2
                  </v-avatar>
                </td>
                <td><h3 style="color: #00ff00">play a game</h3></td>
                <td>
                  <img
                    style="width: 250px; height: 150px"
                    src="https://829395.smushcdn.com/1681952/wp-content/uploads/2020/09/free-online-games.jpg?lossy=0&strip=1&webp=1"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <v-avatar
                    color="#0000FF"
                    size="x-large"
                    style="margin-top: 20px"
                  >
                    3
                  </v-avatar>
                </td>
                <td><h3 style="color: #0000ff">listen to music</h3></td>
                <td>
                  <img
                    style="width: 250px; height: 150px"
                    src="https://wp-assets.futurism.com/2018/03/music-app.jpg"
                  />
                </td>
              </tr>
            </table>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style>
.bg {
  background-color: #65347b;
  height: auto;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.port {
  background-color: rgb(78, 48, 90);
  height: auto;
  width: 1000px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
h4 {
  color: white;
  text-align: left;
  margin-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h5 {
  color: white;
  margin-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  color: rgb(236, 106, 248);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 15px;
}
</style>
