<script setup lang="ts"></script>

<template>
  <v-card align="center">
    <v-img
      src="https://data.bopp-obec.info/emis/pic_school/1038660414.jpg"
      height="140px"
      width="100px"
      cover
    ></v-img>
    <v-card-subtitle style="text-align: center; color: black"
      >โรงเรียนบ้านหนองเดิ่นท่า</v-card-subtitle
    >
  </v-card>
</template>
