<script setup lang="ts"></script>

<template>
  <v-card align="center">
    <v-img
      style="text-align: center"
      src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t1.6435-9/44398779_2270544919886698_7968275386284900352_n.png?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEywF9i4QgsRhTwczthO5G0N5MSNIhe5as3kxI0iF7lq5dJXlPQX50rL9L8MfC7xMpwC0qj4UmGfVH3FIuHuTUk&_nc_ohc=KUdh8H7gzxsAX_8a6CA&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCjPeqoq49DFKwqH_yfSYhzg1KyP_So1IiYYXSJ9B5uAQ&oe=63C64310"
      height="140px"
      width="140px"
      cover
    ></v-img>
    <v-card-subtitle style="text-align: center; color: black"
      >โรงเรียนมารีวิทย์บ่อวิน</v-card-subtitle
    >
  </v-card>
</template>
