<script setup lang="ts"></script>

<template>
  <v-card align="center">
    <v-img
      style="text-align: center"
      src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/306632153_448562900639749_7993245803315083658_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGnXyKgBBRw4IM5cEIZ198svz2Mk3dIq1u_PYyTd0irW5yFQ3uAWfVE5HrNppdH40fE3z5iM634-H5Y51x3Zn0f&_nc_ohc=f_CHz1POepAAX9Mch1w&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCPXl5KeqWw30JNy5kuDbQBh9gwJjitmxcm_FnGSVN1mA&oe=63A45F95"
      height="140px"
      width="140px"
      cover
    ></v-img>
    <v-card-subtitle style="text-align: center; color: black"
      >โรงเรียนศศิกานต์วิทยา</v-card-subtitle
    >
  </v-card>
</template>
