<script setup lang="ts"></script>

<template>
  <v-card align="center">
    <v-img
      style="text-align: center"
      src="http://www.thaischool1.in.th/_files_school/20103002/data/20103002_0_20150904-220325.gif"
      height="140px"
      width="140px"
      cover
    ></v-img>
    <v-card-subtitle style="text-align: center; color: black"
      >โรงเรียนปัญญานฤมิต</v-card-subtitle
    >
  </v-card>
</template>
